<div class="d-flex align-items-center justify-content-center vh-100">
            <div class="text-center">
                <h1 class="display-1 fw-bold">404</h1>
                <p class="fs-3"> <span class="text-danger">Opps!</span> Nie znaleziono zasobu.</p>
                <p class="lead">
                    Strona której szukasz nie istnieje lub została usunięta.
                  </p>
            </div>
</div>