<form action="../pictures/create" method="post">
  <div class="form-group">
    <label for="nazwa">Nazwa</label>
    <input type="text" class="form-control" id="nazwa" name="nazwa" aria-describedby="emailHelp" placeholder="Wprowadź nazwę">
  </div>
  <div class="form-group">
    <label for="rozmiar">Rozmiar</label>
    <input type="number" class="form-control" id="rozmiar" name="rozmiar" placeholder="Rozmiar">
  </div>
  <button type="submit" class="btn btn-primary">Zapisz</button>
</form>